<div>
  <% if @name && @name != '' %>
    Welcome to the game <%= @name %>!
  <% elsif !@name %>
    <form action="/New_Game">
      What's your name?
      <input type="text" name="name">
      <input type="submit" value="Enter">
    </form>
  <% else %>
    No name received, please try again. <a href='/New_Game'>Try again</a>
  <% end %>
</div>